Repository angelod1as/storybook-repro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, svgo --config ./svgo.config.js

working version
  .eslintrc.js
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  src/components/common/tabs/Tabs.demo.tsx
  src/components/common/tabs/Tabs.error.tsx
  src/components/common/tabs/Test.stories.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Introduction.mdx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix, svgo --config ./svgo.config.js

Add story
  src/components/common/tabs/Tabs.stories.tsx
Due: prettier --write, eslint --fix

add styles to preview
  .storybook/preview.ts
Due: prettier --write, eslint --fix

add webpackFinal config
  .storybook/main.ts
  package.json
  src/helpers/bem.ts
  yarn.lock
Due: prettier --write, eslint --fix

Remove preset-scss
  .storybook/main.ts
Due: prettier --write, eslint --fix

Remove scss from preview
  .storybook/preview.ts
Due: prettier --write, eslint --fix

Fix styles
  src/styles/designsystem/_config.scss
  src/styles/designsystem/config/_colors-theme-1.scss
  src/styles/designsystem/config/_colors-theme-2.scss
  src/styles/designsystem/config/_texts-theme-1.scss
  src/styles/designsystem/config/_texts-theme-2.scss
Due: prettier --write, stylelint --fix

Turn preview into tsx and add wrapper
  .storybook/StorybookWrapper.tsx
  .storybook/preview.tsx
  src/helpers/useTheme.ts
Due: prettier --write, eslint --fix

Add global style
  src/pages/global.scss
Due: prettier --write, stylelint --fix

Add imports to Tabs
  src/components/common/tabs/Tabs.module.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml})) or (any of: *.{css,sass,scss})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,sass,scss}
  svgo --config ./svgo.config.js: any of: *.svg
